
<section class="about-us section" id="about-us">
    <div class="container">
        <div class="about-us-text-wrapper">
            <h2 class='about-us-title title'>About
                <span class='about-us-title-pseudo pseudo'>us</span>
            </h2>
            <p class="about-us-text text">
                We are dedicated to providing engaging and effective English language courses in a supportive and stimulating learning environment
            </p>
        </div>
        <div class="about-us-list-and-emoji-wrapper">
            <ol class="about-us-list">
                <li class="about-us-item">
                    Expert, innovative teaching staff
                </li>
                <li class="about-us-item">
                    Wide range of course levels and options
                </li>
                <li class="about-us-item">
                    Multicultural learning environment
                </li>
                <li class="about-us-item">
                    Comprehensive language support services
                </li>
            </ol>
            <div class="about-us-background-color">
                <div class="about-us-emoji">
                </div>
            </div>
        </div>
    </div>
</section>