<section class="hero-section">
  <div class="container hero-image">
    <div class="hero-content">
      <div class="hero-title-wrapper">
        <h1 class="hero-title">Discover the joy of learning
          <span class="hero-title accent">English</span>
          with us!
        </h1>
      </div>
      <a class="hero-button" href="#application-section">Leave an application</a>
    </div>
    <a class="hero-link" href="#footer">
      <svg class="hero-icon" width="20" height="20" aria-label="hero link icon">
        <use href="./img/sprite.svg#icon-arrow-down"></use>
      </svg>
    </a>
  </div>
</section>