<section class="section leave-an-application" id="application-section">
  <div class="container">
    <div class="leave-an-application-head-wrapper">
      <h2 class="leave-an-application-head-title">
        Leave an
        <span class="leave-an-appliacation-head-title-pseudo pseudo">application</span>
      </h2>
      <p class="leave-an-application-head-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
    </div>

    <div class="leave-an-application-common-wrapper">
      <div class="leave-an-application-content-wrapper">
        <div class="leave-an-application-image-wrapper"></div>
        <div class="leave-an-application-content">
          <p class="leave-an-application-content-title">1000</p>
          <p class="leave-an-application-content-text">
            of our online English language lessons! This journey has been full
            of discovery, growth and unforgettable moments, and we are happy to
            share this joyful event with you.
          </p>
        </div>
      </div>

      <form class="leave-an-application-form">
        <div class="leave-an-application-inputs-wrapper">
          <label class="leave-an-application-form-label" for="user-name">
            <span class="leave-an-application-form-input-wrapper"><input class="leave-an-application-form-input"
                type="text" name="user-name" id="user-name" placeholder="Name" pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+"
                title="Oleksii" required /><span class="validity-icon"></span></span></label>

          <label class="leave-an-application-form-label" for="user-email">
            <span class="leave-an-application-form-input-wrapper"><input class="leave-an-application-form-input"
                type="email" name="user-email" id="user-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                title="example@gmail.com" placeholder="Email" required /><span
                class="validity-icon"></span></span></label>

          <label class="leave-an-application-form-label" for="user-phone">
            <span class="leave-an-application-form-input-wrapper"><input class="leave-an-application-form-input"
                type="tel" name="user-phone" id="user-phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                title="xxx-xxx-xx-xx" placeholder="Phone" required /><span class="validity-icon"></span></span>
          </label>

          <label class="leave-an-application-form-label" for="user-comment">
            <textarea class="leave-an-application-form-input textarea" name="user-comment" id="user-comment"
              placeholder="Comment"></textarea>
          </label>
        </div>

        <div class="leave-an-application-radio-wrapper">
          <p class="leave-an-application-radio-title">Choose a teacher</p>
          <div class="leave-an-application-radios">
            <input class="leave-an-application-radio-input visually-hidden" type="radio" name="teacher" value="Maria"
              id="teacher-1" required checked />
            <label class="leave-an-application-radio-label" for="teacher-1">
              <span class="leave-an-application-radio-icon-wrapper">
                <svg class="leave-an-application-radio-icon">
                  <use href="./img/sprite.svg#icon-radio-checked"></use>
                </svg>
              </span>
              <span class="leave-an-application-radio-label-title">Maria</span>
            </label>

            <input class="leave-an-application-radio-input visually-hidden" type="radio" name="teacher" value="Artem"
              id="teacher-2" required />
            <label class="leave-an-application-radio-label" for="teacher-2">
              <span class="leave-an-application-radio-icon-wrapper">
                <svg class="leave-an-application-radio-icon">
                  <use href="./img/sprite.svg#icon-radio-checked"></use>
                </svg>
              </span>
              <span class="leave-an-application-radio-label-title">Artem</span>
            </label>

            <input class="leave-an-application-radio-input visually-hidden" type="radio" name="teacher" value="Ilona"
              id="teacher-3" required />
            <label class="leave-an-application-radio-label" for="teacher-3">
              <span class="leave-an-application-radio-icon-wrapper">
                <svg class="leave-an-application-radio-icon">
                  <use href="./img/sprite.svg#icon-radio-checked"></use>
                </svg>
              </span>
              <span class="leave-an-application-radio-label-title">Ilona</span>
            </label>

            <input class="leave-an-application-radio-input visually-hidden" type="radio" name="teacher"
              value="Volodymyr" id="teacher-4" required />
            <label class="leave-an-application-radio-label" for="teacher-4">
              <span class="leave-an-application-radio-icon-wrapper">
                <svg class="leave-an-application-radio-icon">
                  <use href="./img/sprite.svg#icon-radio-checked"></use>
                </svg>
              </span>
              <span class="leave-an-application-radio-label-title">Volodymyr</span>
            </label>
          </div>
        </div>

        <button type="submit" class="leave-an-application-form-btn">
          <span class="leave-an-application-form-btn-text">Send</span>
        </button>
        <p class="leave-an-appliation-privacy-policy-text">
          By clicking on “Send” button, you agree to our
          <a href="./privacy-policy.html" class="leave-an-appliation-privacy-policy-link" target="_blank">Privacy
            Policy</a>,
          <br />
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>