<!-- Meet our teachers -->
<section class="teachers-section section" id="teachers-section">
  <div class="container">
    <h2 class="teachers-title title">
      Meet our
      <span class="teachers-title-pseudo pseudo">teachers</span>
    </h2>
    <p class="teachers-text text">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list">
      <!-- Card 1 -->
      <li class="teachers-item">
        <img
          class="teachers-img"
          srcset="./img/2x/01-maria-@2x.webp 2x, ./img/1x/01-maria-@1x.webp 1x"
          src="./img/1x/01-maria-@1x.webp"
          alt="Photo of teacher Maria"
          width="150"
          height="150"
        />
        <h3 class="teachers-subtitle">Maria</h3>
        <p class="teachers-card-text">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <!-- Card 2 -->
      <li class="teachers-item">
        <img
          class="teachers-img"
          srcset="./img/2x/02-artem-@2x.webp 2x, ./img/1x/02-artem-@1x.webp 1x"
          src="./img/1x/02-artem-@1x.webp"
          alt="Photo of teacher Artem"
          width="150"
          height="150"
        />
        <h3 class="teachers-subtitle">Artem</h3>
        <p class="teachers-card-text">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <!-- Card 3 -->
      <li class="teachers-item">
        <img
          class="teachers-img"
          srcset="./img/2x/03-ilona-@2x.webp 2x, ./img/1x/03-ilona-@1x.webp 1x"
          src="./img/1x/03-ilona-@1x.webp"
          alt="Photo of teacher Ilona"
          width="150"
          height="150"
        />
        <h3 class="teachers-subtitle">Ilona</h3>
        <p class="teachers-card-text">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <!-- Card 4 -->
      <li class="teachers-item">
        <img
          class="teachers-img"
          srcset="
            ./img/2x/04-volodymyr-@2x.webp 2x,
            ./img/1x/04-volodymyr-@1x.webp 1x
          "
          src="./img/1x/04-volodymyr-@1x.webp"
          alt="Photo of teacher Volodymyr"
          width="150"
          height="150"
        />
        <h3 class="teachers-subtitle">Volodymyr</h3>
        <p class="teachers-card-text">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
