<section class="section">
  <div class="container">
    <div class="proposal-to-leave-container">
      <h2 class="visually-hidden">Proposal to leave an application</h2>
      <p class="proposal-to-leave-title">
        Master the <span class="proposal-to-leave-span">Language</span> with Our
        English Package!
      </p>
      <div class="benefits-wrapper">
        <h3 class="benefits-sub-title">Power of English</h3>
        <ul class="benefit-list">
          <li class="benefit-item">
            <svg width="20" height="20" class="benefit-icon">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
            <p class="benefit-text">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>
          <li class="benefit-item">
            <svg width="20" height="20" class="benefit-icon">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
            <p class="benefit-text">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>
          <li class="benefit-item">
            <svg width="20" height="20" class="benefit-icon">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
            <p class="benefit-text">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>
        <a href="#application-section" class="proposal-to-leave-button">
          Leave an application
        </a>
      </div>
    </div>
  </div>
</section>
