<!-- What our students say -->
<section class="reviews-section section" id="comments-section">
  <div class="reviews-section-container container">
    <h2 class="reviews-title-section">
      What our
      <span class="reviews-title-pseudo pseudo">students</span>
      say
    </h2>
    <p class="reviews-section-text text">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <ul class="reviews-section-list">
      <!-- card 1 -->
      <li class="reviews-section-item">
        <div class="reviews-section-card-container">
          <img
            class="reviews-section-card-img"
            srcset="./img/2x/student-anna@2x.webp 2x"
            src="./img/1x/student-anna@1x.webp"
            alt="Photo of a student Anna"
            width="50"
            height="50"
          />
          <div class="review-section-card-person">
            <p class="reviews-section-card-name">Anna</p>
            <p class="reviews-section-card-category">Student</p>
          </div>
        </div>
        <p class="reviews-section-card-text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <!-- card 2 -->
      <li class="reviews-section-item">
        <div class="reviews-section-card-container">
          <img
            class="reviews-section-card-img"
            srcset="./img/2x/student-mykhailo@2x.webp 2x"
            src="./img/1x/student-mykhailo@1x.webp"
            alt="Photo of a student Mykhailo"
            width="50"
            height="50"
          />
          <div class="review-section-card-person">
            <p class="reviews-section-card-name">Mykhailo</p>
            <p class="reviews-section-card-category">Student</p>
          </div>
        </div>
        <p class="reviews-section-card-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>
      <!-- card 3 -->
      <li class="reviews-section-item">
        <div class="reviews-section-card-container">
          <img
            class="reviews-section-card-img"
            srcset="./img/2x/student-victoria@2x.webp 2x"
            src="./img/1x/student-victoria@1x.webp"
            alt="Photo of a student Victoria"
            width="50"
            height="50"
          />
          <div class="review-section-card-person">
            <p class="reviews-section-card-name">Victoria</p>
            <p class="reviews-section-card-category">Student</p>
          </div>
        </div>
        <p class="reviews-section-card-text">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
