/* Leave an application styles */

.leave-an-application {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leave-an-application-head-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .leave-an-application-head-wrapper {
    gap: 16px;
    margin-bottom: 64px;
  }
}

.leave-an-application-head-title {
  color: var(--color-title-black, #121417);
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.13;
  /* 112.5% */
  letter-spacing: -0.02em;
  /*-0.64px*/
}

@media screen and (min-width: 375px) {
  .leave-an-application-head-title {}
}

@media screen and (min-width: 768px) {
  .leave-an-application-head-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    /* 120% */
    letter-spacing: -0.02em;
    /*-0.8px*/
  }
}

.leave-an-appliacation-head-title-pseudo {
  position: relative;
  display: inline-block;
}

.leave-an-appliacation-head-title-pseudo.pseudo::after {
  transform: translateY(10%);
  height: 40%;
}

@media screen and (min-width: 768px) {
  .leave-an-appliacation-head-title-pseudo.pseudo::after {
    transform: translateY(10%);
    height: 50%;
  }
}

.leave-an-application-head-text {
  color: rgba(18, 20, 23, 0.8);
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  /* 171.429% */
  max-width: 335px;
}

@media screen and (min-width: 375px) {
  .leave-an-application-head-text {}
}

@media screen and (min-width: 768px) {
  .leave-an-application-head-text {
    font-size: 18px;
    line-height: 1.67;
    /* 166.667% */
    max-width: 586px;
  }
}

@media screen and (min-width: 1280px) {
  .leave-an-application-head-text {
    max-width: 709px;
  }
}

.leave-an-application-common-wrapper {
  display: flex;
  gap: 32px;
  width: 100%;
  justify-content: center;
}

.leave-an-application-content-wrapper {
  display: none;
}

@media screen and (min-width: 1280px) {
  .leave-an-application-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background: var(--color-primary-brand-green, #4dc274);
    width: 492px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1280px) {
  .leave-an-application-image-wrapper {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
    width: 492px;
    height: 392px;
    background-color: var(--color-primary-brand-green, #4dc274);

    background-image: url(../img/1x/leave-an-application.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 1280px) and (min-device-pixel-ratio: 2),
(min-width: 1280px) and (min-resolution: 192dpi) {
  .leave-an-application-image-wrapper {
    background-image: url(../img/2x/leave-an-application@2x.webp);
  }
}

.leave-an-application-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 452px;
}

.leave-an-application-content-title {
  color: var(--color-white, #fff);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  /* 120% */
  letter-spacing: -0.02em;
  /*-0.8px*/
}

.leave-an-application-content-text {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  /* 150% */
}

.leave-an-application-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 375px) {
  .leave-an-application-form {}
}

@media screen and (min-width: 768px) {
  .leave-an-application-form {
    width: 500px;
  }
}

.leave-an-application-inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .leave-an-application-inputs-wrapper {
    margin-bottom: 32px;
  }
}

.leave-an-application-form-label {}

.leave-an-application-form-input-wrapper {
  position: relative;
}

.leave-an-application-form-input {
  width: 100%;
  min-height: 50px;
  border-radius: 12px;
  border: 1px solid rgba(18, 20, 23, 0.1);

  background-color: transparent;
  outline: transparent;
  outline-offset: 4px;

  transition: border-color var(--transition-main);

  padding-left: 18px;
}

@media screen and (min-width: 375px) {
  .leave-an-application-form-input {}
}

@media screen and (min-width: 768px) {
  .leave-an-application-form-input {
    min-height: 56px;
  }
}

.leave-an-application-form-input:focus:required:invalid {
  border: 1px solid var(--color-invalid, #ee323d);
}

.leave-an-application-form-input:focus:required:invalid+.validity-icon::after {
  display: flex;
  position: absolute;
  content: '✖';
  top: 0;
  right: 16px;
  color: var(--color-invalid, #ee323d);
}

.leave-an-application-form-input:valid {
  border: 1px solid rgba(18, 20, 23, 0.1);
}

.leave-an-application-form-input:valid+.validity-icon::after {
  display: flex;
  position: absolute;
  content: '✓';
  top: 0px;
  right: 16px;
  color: var(--color-primary-brand-green, #4dc274);
}

.leave-an-application-form-input:focus {
  border: 1px solid var(--color-primary-brand-green, #4dc274);
}

.textarea {
  padding: 16px 18px;
  min-height: 94px;
}

@media screen and (min-width: 768px) {
  .textarea {
    min-height: 104px;
  }
}

.leave-an-application-form-input::placeholder {
  color: var(--color-title-black, #121417);
  font-size: 14px;
  line-height: 1.29;
  /* 128.571% */
}

@media screen and (min-width: 375px) {
  .leave-an-application-form-input::placeholder {}
}

@media screen and (min-width: 768px) {
  .leave-an-application-form-input::placeholder {
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
  }
}

.leave-an-application-radio-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .leave-an-application-radio-wrapper {
    gap: 16px;
  }
}

.leave-an-application-radio-title {
  color: var(--color-title-black, #121417);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  /* 133.333% */
  letter-spacing: -0.02em;
  /*-0.36px*/
}

@media screen and (min-width: 768px) {
  .leave-an-application-radio-title {
    font-size: 20px;
    line-height: 1.2;
    /* 120% */
    letter-spacing: -0.02em;
    /*-0.4px*/
  }
}

.leave-an-application-radios {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .leave-an-application-radios {
    flex-direction: row;
    gap: 16px;
    margin-bottom: 32px;
  }
}

.leave-an-application-radio-input {
  transition: border-color var(--transition-main), fill var(--transition-main);
}

.leave-an-application-radio-input:focus+.leave-an-application-radio-label>.leave-an-application-radio-icon-wrapper {
  outline: 2px solid #035ecc;
  outline-offset: 2px;
}

.leave-an-application-radio-input:checked+.leave-an-application-radio-label>.leave-an-application-radio-icon-wrapper {
  border: none;
}

.leave-an-application-radio-input:checked+.leave-an-application-radio-label>.leave-an-application-radio-icon-wrapper>.leave-an-application-radio-icon {
  fill: var(--color-primary-brand-green, #4dc274);
  stroke: var(--color-primary-brand-green, #4dc274);
}

.leave-an-application-radio-label {
  display: flex;
  gap: 9px;
  align-items: center;
}

.leave-an-application-radio-label-title {
  color: var(--color-title-black, #121417);
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  /* 171.429% */
  letter-spacing: -0.02em;
  /*-0.28px*/
}

@media screen and (min-width: 768px) {
  .leave-an-application-radio-label-title {
    font-size: 18px;
    line-height: 1.33;
    /* 133.333% */
    letter-spacing: -0.02em;
    /*-0.36px*/
  }
}

.leave-an-application-radio-icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  border: 2px solid rgba(18, 20, 23, 0.2);
  fill: transparent;

  margin-right: 9px;
}

@media screen and (min-width: 768px) {
  .leave-an-application-radio-icon-wrapper {
    width: 20px;
    height: 20px;

    margin-right: 8px;
  }
}

.leave-an-application-radio-icon {
  fill: transparent;
  cursor: pointer;

  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .leave-an-application-radio-icon {
    width: 20px;
    height: 20px;
  }
}

.leave-an-application-form-btn {
  display: inline-flex;
  padding: 14px 0;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  background: var(--color-primary-brand-green, #4dc274);
  border: none;
  margin-bottom: 16px;
  width: 100%;

  transition: background-color var(--transition-main),
    border-color var(--transition-main);
}

@media screen and (min-width: 768px) {
  .leave-an-application-form-btn {
    padding: 16px 0;
    justify-content: center;
    align-items: center;
  }
}

.leave-an-application-form-btn:disabled {
  background: var(--color-light-green, #d4fde1);
}

.leave-an-application-form-btn:hover,
.leave-an-application-form-btn:focus {
  background-color: var(--color-secondary-brand-green, #38ae5f);
}

.leave-an-application-form-btn-text {
  color: var(--color-white, #fff);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  /* 171.429% */
}

@media screen and (min-width: 768px) {
  .leave-an-application-form-btn-text {
    font-size: 18px;
    font-style: normal;
    line-height: 1.56;
    /* 155.556% */
  }
}

.leave-an-appliation-privacy-policy-text {
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  line-height: 1.33;
  /* 133.333% */
}

@media screen and (min-width: 768px) {
  .leave-an-appliation-privacy-policy-text {
    font-size: 14px;
    line-height: 1.71;
    /* 171.429% */
  }
}

.leave-an-appliation-privacy-policy-link {
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  line-height: 1.33;
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .leave-an-appliation-privacy-policy-link {
    font-size: 14px;
    line-height: 1.71;
  }
}