@media screen and (min-width: 1280px) {
  .reviews-section-container {
    padding: 0 128px;
  }
}

.reviews-title-section {
  color: var(--color-title-black);
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.reviews-title-pseudo {
  position: relative;
  display: inline-block;
}

.reviews-title-pseudo.pseudo:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 135px;
  height: 12px;
  border-radius: 8px;
  background-color: var(--color-accent-green);
}

@media screen and (min-width: 768px) {
  .reviews-title-section {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .reviews-title-pseudo.pseudo:after {
    width: 167px;
    height: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-title-pseudo.pseudo:after {
    width: 169px;
    height: 20px;
  }
}

.reviews-section-text {
  color: var(--color-main-tex-black-50);
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .reviews-section-text {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-section-text {
    max-width: 647px;
    margin-left: auto;
    margin-right: auto;
  }
}

.reviews-section-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.reviews-section-item {
  max-width: 335px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray);
  border-radius: var(--border-radius-cards-mobile);
  padding: 20px 16px 40px;
}

.reviews-section-item:nth-child(n + 2) {
  display: none;
}

@media screen and (min-width: 768px) {
  .reviews-section-item {
    max-width: 336px;
    padding: 32px 16px 40px 16px;
    border-radius: var(--border-radius-cards);
  }

  .reviews-section-item:nth-child(2n) {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-section-item {
    max-width: 320px;
  }

  .reviews-section-item:nth-child(n) {
    display: block;
  }
}

.reviews-section-card-container {
  height: 78px;
  display: flex;
  gap: 8px;
  padding: 14px 8px 14px 14px;
  margin-bottom: 20px;
  background-color: var(--color-primary-brand-green);
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .reviews-section-card-container {
    padding-left: 16px;
    border-radius: 15px;
  }
}

.reviews-section-card-img {
  border-radius: 50%;
}

.review-section-card-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.reviews-section-card-name {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.reviews-section-card-category {
  color: var(--color-white-50);
  font-size: 12px;
  line-height: 1.33;
}

.reviews-section-card-text {
  color: var(--color-main-tex-black-50);
  font-size: 14px;
  line-height: 1.71;
  margin: 0 14px;
}

@media screen and (min-width: 768px) {
  .reviews-section-card-text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 16px;
  }
}
