.section {
  padding-bottom: 80px;
}

@media (min-width: 375px) {
  .section {
  }
}

@media (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding-bottom: 150px;
  }
}
