:root {
  --color-title-black: #121417;
  --color-main-tex-black-50: rgba(18, 20, 23, 0.5);
  --color-border-black-10: rgba(18, 20, 23, 0.1);
  --color-primary-brand-green: #4dc274;
  --color-secondary-brand-green: #38ae5f;
  --color-accent-green: #bee8cc;
  --color-green-hover: #38ae5f;
  --color-green-linear: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
  --color-light-green: #d4fde1;
  --color-gray: #f3f5f6;
  --color-white: #ffffff;
  --color-invalid: #ee323d;

  /*border-radius*/
  --border-radius-buttons: 12px;
  --border-radius-cards-mobile: 16px;
  --border-radius-cards: 30px;

  /* transition */
  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
